<div class="novaPartida">
    <div class="container">
        <form action="/novaPartida" method="POST">
            <h3>Adicionar Partida</h3>
            <p> Manchester United: </p>
            <input type="number" name="golsUnited" placeholder="Gols do Manchester United" />
            <div class="jogadores">
                <input type="text" name="goleiroTimeA" placeholder="Goleiro" />
                <input type="text" name="jogadorTimeA1" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA2" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA3" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA4" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA5" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA6" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA7" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA8" placeholder="Jogador" />
                <input type="text" name="jogadorTimeA9" placeholder="Jogador" />
            </div>
            <p> Manchester City: </p>
            <input type="number" name="golsCity" placeholder="Gols do Manchester City" />
            <div class="jogadores">
                <input type="text" name="goleiroTimeB" placeholder="Goleiro" />
                <input type="text" name="jogadorTimeB1" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB2" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB3" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB4" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB5" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB6" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB7" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB8" placeholder="Jogador" />
                <input type="text" name="jogadorTimeB9" placeholder="Jogador" />
            </div>
            <br />
            <button class="button" type="submit">Adicionar</button>
        </form>
    </div>
</div>